.feature-box {
  padding: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgba($color-white, .8);
  border-radius: $border-radius-medium;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: transform .3s;

  @include respond(tablet-portrait) {
    padding: 2rem;
  }

  &__icon {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 6rem;
    color: $color-primary;

    @supports (background-clip: text) or (-webkit-background-clip: text) {
      color: transparent;
      background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
      -webkit-background-clip: text;
    }

    @include respond(tablet-portrait) {
      margin-bottom: 0;
    }
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
